
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.idea/.gitignore
.idea/composerJson.xml
.idea/misc.xml
.idea/modules.xml
.idea/my_project_name.iml
.idea/php.xml
.idea/vcs.xml

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
.idea/symfony2.xml
public/uploads/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
